<div class="container">
  <h2 class="page-title">Gestión de Departamentos</h2>

  <!-- Botón para crear los departamentos -->
  <button (click)="crearDepartamento()" class="btn-create">Crear Nuevo Departamento</button>

  <div class="table-wrapper">
    <table class="departamentos-table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Num Piso</th>
          <th>Número</th>
          <th>Arrendado</th>
          <th>Rut Propiedad</th>
          <th>Estado</th>
          <th>Rut Arrendatario</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Observacion</th>
          <th>Numero Habitaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let depto of departamentos">
          <td>{{ depto.CodDepto }}</td>
          <td>{{ depto.Piso }}</td>
          <td>{{ depto.Numero }}</td>
          <td>{{ depto.Arrendado ? 'Sí' : 'No' }}</td>
          <td>{{ depto.RutProp }}</td>
          <td>{{ depto.Estado }}</td>
          <td>{{ depto.RutArre || 'N/A' }}</td>
          <td>{{ depto.FechaIniC }}</td>
          <td>{{ depto.FechaFinC }}</td>
          <td>{{ depto.Observacion }}</td>
          <td>{{ depto.NumHab }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Botón para regresar al Home -->
  <a routerLink="/home" class="btn-home">Regresar al Inicio</a>
</div>
