<div class="container text-center">
  <h1 class="display-4 mb-4">Bienvenido a la Gestión de El Carlos</h1>
  <p class="lead mb-5">Selecciona una opción para gestionar los aspectos del edificio:</p>

  <!-- Contenedor para los botones -->
  <div class="btn-group-vertical d-grid gap-3">
    <div class="row">
      <div class="col">
        <a routerLink="/departamentos" class="btn btn-departamentos btn-lg">Departamentos</a>
      </div>
      <div class="col">
        <a routerLink="/gastos-comunes" class="btn btn-gastos-comunes btn-lg">Gastos Comunes</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a routerLink="/marcar-como-pagado" class="btn btn-gestion-pago btn-lg">Gestionar Pago</a>
      </div>
      <div class="col">
        <a routerLink="/listar-gastos-pendientes" class="btn btn-gastos-pendientes btn-lg">Gastos Pendientes</a>
      </div>
    </div>
  </div>
</div>
