<div class="container text-center">
  <h1 class="display-4 mb-4">Gestion de gastos comunes</h1>

  
  <div class="btn-grid">
    <div class="row">
      <div class="col">
        <a routerLink="/departamentos" class="btn btn-option">Departamentos</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a routerLink="/gastos-comunes" class="btn btn-option">Gastos Comunes</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a routerLink="/marcar-como-pagado" class="btn btn-option">Gestión de Pagos</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a routerLink="/listar-gastos-pendientes" class="btn btn-option">Gastos por Pagar</a>
      </div>
    </div>
  </div>
</div>
